<!DOCTYPE html>
<html>
<body>
<!-- banner------------------- -->
<div class="row">
  <div id="intro" class="intro col-12 col-sm-12">
    <div class="button_option">
      <a href="#" class="about-btn down">About</a>
      <a href="#" class="contact-btn down2">Contact</a>
    </div>
  </div>
<div></div>
  <h1 class="ml4">
    <span class="letters letters-1">Kelly Jeffery</span>
    <span class="letters letters-2">Full Stack Web Developer</span>
    <span class="letters letters-3">Girl That Codes</span>
  </h1>
 </div>
</div>
<!-- -------------------------------------- -->
<!-- 1st row -->
<div class="row">
  <div class="project-container-1 col-12 col-sm-12">
    <h1 class="projects-heading">PROJECTS</h1>
    <h2 class="bookmark-title">Bookmark</h2>
  <div class="line-seperator"></div>

<!-- -------------------------------------------- -->
<!-- <div class="row"> -->
  <div  id="project01" class="bookmark-image-1 project col-6 col-sm-6">
    <a href="https://www.youtube.com/watch?v=uayJ4QoKlVw&feature=youtu.be"></a>
    <%= image_tag("IMG_1912.jpg", {:style => "height:500px;" "width:700px;"}) %>
  </div>

  <div id="project01" class="bookmark-image-2 project">
    <%= image_tag("pic2.jpg", {:style => "height:500px;" "width:700px;"}) %>
  </div>
<!-- </div> -->
<!-- -------------------------------------------------- -->
<!-- <div class="row"> -->
  <div id="project01" class="bookmark-image-3 project col-sm-6 col-6">
    <%= image_tag("pic1.jpg", {:style => "height:500px;" "width:700px;"}) %>
  </div>

    <div id="project01" class="bookmark-container project">
      <a href="http://www.bkmthis.com/" class="bookmark-link"></a>
      <div class='bookmark-text'>
        <h2 class="ml12 bookmark-heading">Bookmark</h2>
        <p>Bookmark, an app where you find recommendations and opinions from the people you trust. The app built with Ruby on Rails, HTML, SCSS, Ajax, Active Record, JavaScript, Cloudinary focused on movie recommendations but can grow to include other media types. Presented in front of 200+ people at the Barbican Center.</p>
      </div>
    </div>
  <!-- </div> -->
    <!-- ------------------------------------------- -->
 </div>
</div>
  <!-- 1st row -->

<!-- 2nd row  -->
<div class="project-conatiner-2">
     <h2 class="airbaby-title">Airbaby</h2>
     <div class="line-seperator-airbaby"></div>
        <div  id="project01" class="airbaby-image-1 project">
          <%= image_tag("airbabypage.pjg.png", {:style => "height:400px;" "width:700px;"}) %>
        </div>

        <div id="project01" class="airbaby-image-2 project">
          <%= image_tag("rentpage.jpg", {:style => "height:500px;" "width:700px;"}) %>
        </div>

         <div id="project01" class="airbaby-image-3 project">
          <%= image_tag("airbaby.jpg", {:style => "height:400px;" "width:700px;"}) %>
        </div>

       <div id="project01" class="airbaby-container project">
         <div class='airbaby-text'>
          <h2 class="ml12 bookmark-heading">Airbaby</h2>
          <p>AirBaby,A market place targeted at money savvy young parents who can buy and sell baby clothes built with Ruby on Rails, Active Record, Ajax, Map-box, Geocoding, and Cloudinary . Designed the front-end using Figma. Collaborated through Github and deployed using Heroku. On AirBaby they were able to rent clothes, and also put clothes up to rent. Presented in front of 40+ people at the bootcamp.</p>
         </div>
       </div>
   </div>
<!-- 2nd row -->

<!-- 3rd row -->
<div class="aboutme-section" id="section1">
  <h1 class= "about-me">ABOUT ME</h1>
  <a class="up" href="#"></a>
  <a href="https://www.facebook.com/kelly.jeffery.37" class="profile-link">
    <div id="project01" class="profile-container project">
      <div class='profile-text'>
        <h2 class="profile-heading">Profile</h2>
        <p>I am a full-stack web developer looking to continue an exciting and challenging journey in the tech industry. Having been the 5x international open water swimmer champion of the Algarve and with 5+ years working in hospitality across England and Australia, I’ve become extremely determined, disciplined and driven. I’m ready to transfer those qualities into my tech career and continue to learn from others around me.</p>
      </div>
    </div>
  </a>

    <div id="project01" class="skills-container project">
      <div class='skills-text'>
        <h2 class="skills-heading">skills</h2>
        <ul>
            <li>Ruby on Rails</li>
            <li>Relational databases, SQL, Postgres</li>
            <li>ES6 Javascript</li>
            <li>Test driven development</li>
            <li>APIs. JSON, scraping</li>
            <li>HTML, CSS\SCSS, Boostrap</li>
            <li>Wireframes, prototyping, UI design</li>
            <li>Git, Github, technical workflow</li>
          </ul>
      </div>
    </div>
   <a href="https://www.lewagon.com/" class="lewagon-link">
    <div id="project01" class="education-container project">
      <div class='education-text'>
        <h2 class="education-heading">education</h2>
        <p class="paragraph">Le-Wagon<br>Le-Wagon Full Stack Ruby On Rails
9 week intensive coding bootcamp learning Ruby On Rails, HTML5, CSS/sass, Bootstrap, Javascript, JQuery. In the final three weeks, built two detailed web applications and presented these apps on weekly demos.<br><br>
Petroc college<br>Level 3 90 Credit Extend business diploma
Achieved a final grade of DDD* which is the equivalent to 3 A's at A level.</p>
      </div>
    </div>
  </a>


    <div id="project01" class="interests-container project">
      <div class='interests-text'>
        <h2 class="interests-heading">Interests</h2>
        <p>Swimming-I am the previous 5x international open water champion of the Algarve and top 3 in the region for 800m freestyle. As well as being team captain for barnstaple swimming club for two years.<br><br>Traveling-
I traveled around Australia for a year and worked across the country as well as finding my passion for code along the way. During my time traveling I managed to overcome many barriers by my self and grow stronger from them.</p>
      </div>
    </div>

    <div  id="project01" class="profile-image project">
      <%= image_tag("batch_319-15.jpg", {:style => "height:350px;" "width:230px;"}) %>
    </div>

    <div  id="project01" class="swimming-image project">
      <%= image_tag("IMG_3549.jpg", {:style => "height:300px;" "width:300px;"}) %>
    </div>

    <div  id="project01" class="leWagon-image project">
      <%= image_tag("IMG_6011.jpg", {:style => "height:300px;" "width:500px;"}) %>
    </div>

    <div  id="project01" class="rowing-image project">
      <%= image_tag("IMG_4228.jpg", {:style => "height:300px;" "width:340px;"}) %>
    </div>

</div>

<!-- 3rd row -->

<!-- footer -->
    <footer class="footer main" id="el1">
        <a class="up2 scroll" href="#">back to the top&uarr;</a>
      <div class="container">
        <div class="text-center">
          <h2 class="footer-heading ml2">Get in touch!</h2>
          <p class="footer-text">Feel free to contact me on the following</p>
          <a href="https://github.com/kellyjeffery1" target="_blank>" class="greyfont"><i class="fab fa-github-square mx-2"></i></a>
          <a href="https://www.linkedin.com/in/kelly-jeffery-075b71177/" target="_blank>" class="greyfont"><i class="fab fa-linkedin mx-2"></i></a>
          <a href='http://twitter.com/' target ="_blank" class="icon-grey greyfont"><i class="fab fa-twitter-square"></i></a>
          <a href='http://instagram.com/' target ="_blank" class="icon-grey greyfont"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </footer>
<!-- footer -->

<!-- injections -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script scr="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<!-- injections -->




  </div>
</body>
</html>
