<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <title>Kelly Jeffery</title>


      <meta property="og:title" content="Kelly Jeffery - Checkout my portfolio">
      <meta property="og:image" content="IMg_6011.jpg">
      <meta property="og:description" content="This is my portfolio page,check it out and let me know what you think!">
      <meta property="og:site_name" content="Kelly Jeffery"/>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

      <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu&display=swap" rel="stylesheet"/></script>


    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%=stylesheet_pack_tag 'application'%>
   <!--  <%= stylesheet_pack_tag 'application', media: 'all' %>  --><!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= yield %>


    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>



  </body>
</html>
